/* Google Fontes import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}


@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}



body {

  place-items: center;
}

.page-content {
  display: grid;
  max-height: 70%;
  overflow: hidden;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;

  font-family: var(--font-sans);
  margin-left: 100px;

}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}



.card {
  position: relative;
  
  float: left;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.title {
  -webkit-text-stroke-color: #070706;
  -webkit-text-stroke-width: 1px;
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
@media (min-width: 600px) {
  .card-sec{
    height: 350px;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(https://m.media-amazon.com/images/I/51Dyyot7j5L.jpg);
}

.card:nth-child(2):before {
  background-image: url(https://m.media-amazon.com/images/I/91N9kjbqxWS.jpg);
}

.card:nth-child(3):before {
  background-image: url(https://m.media-amazon.com/images/I/51r3SbJ+qrL._SX335_BO1,204,203,200_.jpg);
}

.card:nth-child(4):before {
  background-image: url(https://books.google.com.br/books/publisher/content?id=KgopEAAAQBAJ&hl=pt-BR&pg=PP1&img=1&zoom=3&bul=1&sig=ACfU3U1shcp9FBCzefrJcB_5lZTuJNzMiA&w=1280
);

}

.card-sec {
  position: relative;
  margin-top: 10px;
  float: left;
  align-items: flex-end;
  padding: 1rem;
  width: 100%;
overflow: hidden;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card-sec::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card-sec:nth-child(5):before {
  background-image: url(https://m.media-amazon.com/images/I/51i7kH+rh9L._SX322_BO1,204,203,200_.jpg);
}

.card-sec:nth-child(6):before {
  background-image: url(https://m.media-amazon.com/images/I/51jiQtSEwDL._SX327_BO1,204,203,200_.jpg);
}

.card-sec:nth-child(7):before {
  background-image: url(https://m.media-amazon.com/images/I/51ABRx3d7GL._SX335_BO1,204,203,200_.jpg);
}

.card-sec:nth-child(8):before {
  background-image: url(https://m.media-amazon.com/images/I/51RT++oGS6L._SX322_BO1,204,203,200_.jpg);

}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;

}

.content-sec {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;

}

.content>*+* {
  margin-top: 1rem;
}

.content-sec>*+* {
  margin-top: 1rem;
}


  
.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  color: #96e69c;
 margin-top: 110px;

}

#verity{
  margin-top: 110px;
}

.title-sec {
  font-size: 1.3rem;
  font-weight:bold;
  line-height: 1.2;
  color: #96e69c;
  margin-top: 90px;
  -webkit-text-stroke: 1px rgb(7, 7, 6);
  -webkit-text-stroke-width: 1px;

}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.copy-sec {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #3686d1;
  background-color: #aed485;
  border: none;
}

.btn-sec {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #3686d1;
  background-color: #aed485;
  border: none;
}

.btn:hover {
  background-color: #abee62;
  
}

.btn-sec:hover {
  background-color: #abee62;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

.btn-sec:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
}

@media (hover: hover) and (min-width: 600px) {
  .card-sec:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content-sec {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title ) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .content-sec>*:not(.title-sec) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card-sec:hover,
  .card-sec:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card-sec:hover:before,
  .card-sec:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card-sec:hover:after,
  .card-sec:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card-sec:hover .content-sec,
  .card-sec:focus-within .content-sec {
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-sec:hover .content-sec>*:not(.title-sec),
  .card-sec:focus-within .content-sec>*:not(.title-sec) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
  }

  .card-sec:focus-within:before,
  .card-sec:focus-within:after,
  .card-sec:focus-within .content-sec,
  .card-sec:focus-within .content-sec>*:not(.title-sec) {
    transition-duration: 0s;
  }
}

.subscribe-btn {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 260px;
}

.subscribe-btn img {
  max-width: 26px;
}

#popup {
  width: 650px;
  padding: 50px 40px;
  background-color: #ffffff;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
}

#popup .content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#popup .content img {
  max-width: 150px;
}

#popup .content h2 {
  margin: 30px 0 10px;
  color: #11263c;
  font-size: 24px;
  font-weight: 700;
}

#popup .content form {
  width: 100%;
}

.input-field {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  color: #6d7c9b;
  background-color: #ffffff;
  border: 1px solid #e7ecf7;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.input-field input::placeholder {
  color: #6d7c9b;
}

.input-field .submit-btn {
  width: 100%;
  padding: 15px 20px;
  color: #ffffff;
  background-color: #0fc9a4;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.input-field .submit-btn:hover {
  background-color: #0b9c7f;
}

#popup .close {
  position: absolute;
  top: 25px;
  right: 25px;
}


.menudois {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  
  height: 400px;
  margin-bottom: 100px;
}
.menudois li {
  position: absolute;
left: auto;
  list-style: none;  
  /* half the width of the menu */
  transform-origin: 200px; 
  margin-right: 320px;
}
.menudois li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #aed485;
  cursor: pointer;
  font-size: 2em;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12);
  color: #111;
  transition: .5s
}
.menudois li a:hover {
  color: rgb(115, 205, 243);
  
}
.toggledois {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #c8f0f2;
  cursor: pointer;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12);
}

/* EFFECTS 
------------------------------------- */
.toggledois {
  transition: 1.25s;
}
.menudois.active .toggledois{
  transform: rotate(315deg);
}

.menudois li {
  transition: 0.5s;
  /* --i var of 'style' */
  transition-delay: calc(0.1s * var(--i));
  /* 150 is half the width of the menu - half the width of the 'a' */
  transform: rotate(0deg) translateX(165px); 
}
.menudois.active li {
  /* 8 is the number of items on the menu */
  transform: rotate(calc(360deg / 8 * var(--i))); 
}
.menudois li a {
  transform: rotate(calc(360deg / -8 * var(--i))); 
}

.titulo{
  font-family: 'Rampart One', cursive;
  margin-bottom: 100px;
  font-size: 300%;
text-align: center;
}

@media (max-width: 520px){
 .menudois.active li {
  transform-origin:100px; 
  margin-left: 500px;

 }
 .menudois li{
  margin-left: 320px;
  margin-right: 800px;
 }
 .toggledois{
    
height: 70px;
width: 70px;
margin-right: 150px;


  }
 
.menudois li  a{
  
  width: 50px;
  height: 50px;
 
 
  
 
}
.menudois{
height: 200px;
width: 200px;
margin-left: 90px;
}

}




@keyframes marquee {
  0% {
    margin-left: 100%;
    transform: translateX(0%);
  }
  100% {
    margin-left: 0;
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    margin-left: 100%;
    transform: translateX(0%);
  }
  100% {
    margin-left: 0;
    transform: translateX(-100%);
  }
}

.section {
  overflow: hidden;

  
 



}

.marquee{
  animation: marquee 30s linear infinite;
  display: inline-block;
  white-space: nowrap;
  margin-top: 20px;
 
}

.marquee:hover{
   
  animation-play-state: paused;
  
}

#text-styling {
  background-color: #dfe9f3;
  color: #3a3b3c;
  padding: 1em;
  font-family: 'Rampart One', cursive;
  font-size: large;



}

