@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
:root {

          --body-color: #a8d0f6;
          --sidebar-color: #dfe9f3;
          --primary-color: #aed485;
          --primary-color-light: #F6F5FF;
          --toggle-color: #DDD;
          --text-color: #070706;
          --blue-color: #63a8e8;
        
        
          --tran-03: all 0.2s ease;
          --tran-03: all 0.3s ease;
          --tran-04: all 0.3s ease;
          --tran-05: all 0.3s ease;
        }
        body.dark h4{
          color: #fff;
}
body.dark h3{
          color: #fff;
}
body.dark h1{
          color: #fff;
}

body.dark p{
          color: #fff;
}

        .highlight{
          font-family: 'Rampart One', cursive;
          margin-top: 20px;
          font-size: 300%;
        text-align: center;
          
         
        }
        .welcome{
          text-align: center;
          
          font-family: 'Rampart One', cursive;
          font-size: 300%;
        }
        
        .estrela{
        
        
        margin-left: 100px;
        
        
        
        }
        
        body {

          min-height: 100%;
          background-color: var(--body-color);
          transition: var(--tran-05);
          overflow: scroll;
          justify-content: center;
          align-items: center
          
        }
        
        .home {
        
        min-height: auto;
        max-height: auto  ;
        
        }
        
        ::selection {
          background-color: var(--primary-color);
          color: #fff;
        }
        
        body.dark {
          --body-color: #18191a;
          --sidebar-color: #242526;
          --primary-color: #3a3b3c;
          --primary-color-light: #3a3b3c;
          --toggle-color: #fff;
          --text-color: #ccc;
        }
        
        
        .sidebar {
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 250px;
          padding: 10px 14px;
          background: var(--sidebar-color);
          transition: var(--tran-05);
          z-index: 100;
        }
        
        .muda {
          --color-hover: #63a8e8;
        }
        
        .sidebar.close {
          width: 88px;
        }
         
                    
          
        
        
        .sidebar li {
          height: 50px;
          list-style: none;
          display: flex;
          align-items: center;
          margin-top: 10px;
        }
        
        .sidebar header .image,
        .sidebar .icon {
          min-width: 60px;
          border-radius: 6px;
        }
        
        .sidebar .icon {
          min-width: 60px;
          border-radius: 6px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
        }
        
        .name {
          color: #63a8e8;
        }
        
        .sidebar .text,
        .sidebar .icon {
          color: var(--text-color);
          transition: var(--tran-03);
        }
        
        .sidebar .text {
          font-size: 17px;
          font-weight: 500;
          white-space: nowrap;
          opacity: 1;
        }
        
        .sidebar.close .text {
          opacity: 0;
        }
        
        /* =========================== */
        
        .sidebar header {
          position: relative;
        }
        
        .sidebar header .image-text {
          display: flex;
          align-items: center;
        }
        
        .sidebar header .logo-text {
          display: flex;
          flex-direction: column;
          width: max-content;
        }
        
        header .image-text .name {
          margin-top: 2px;
          font-size: 25px;
          font-weight: 600;
        }
        
        header .image-text .profession {
          font-size: 16px;
          margin-top: -2px;
          display: block;
        }
        
        .sidebar header .image {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .sidebar header .image img {
          width: 40px;
          border-radius: 6px;
        }
        
        
        .sidebar header .toggle {
          position: absolute;
          top: 50%;
          right: -25px;
          transform: translateY(-50%) rotate(180deg);
          height: 25px;
          width: 25px;
          background-color: var(--primary-color);
          color: var(--sidebar-color);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          cursor: pointer;
          transition: var(--tran-05);
        }
        
        .linha {
          border-radius: 10px;
          border-width: 3px;
        }
        
        .sideimg {
          margin-left: 60px;
          margin-top: 50px;
        }
        
        body.dark .sidebar header .toggle {
          color: var(--text-color);
        }
        
        .sidebar.close .toggle {
          transform: translateY(-50%) rotate(0deg);
        }
        
        .sidebar .menu {
          margin-top: 40px;
        }
        
        .sidebar li.search-box {
          border-radius: 6px;
          background-color: var(--primary-color-light);
          cursor: pointer;
          transition: var(--tran-05);
        }
        
        .sidebar li.search-box input {
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
          background-color: var(--primary-color-light);
          color: var(--text-color);
          border-radius: 6px;
          font-size: 17px;
          font-weight: 500;
          transition: var(--tran-05);
        }
        
        .sidebar li a {
          list-style: none;
          height: 100%;
          background-color: transparent;
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
          border-radius: 6px;
          text-decoration: none;
          transition: var(--tran-03);
        }
        
        .sidebar li a:hover {
          background-color: var(--primary-color);
        }
        
        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
          color: var(--blue-color);
        }
        
        body.dark .sidebar li a:hover .icon,
        body.dark .sidebar li a:hover .text {
          color: var(--blue-color);
        }
        
        body.dark .footer-bottom{
         background-color: #1c1558;
         background-image: url(../_img/stars.png);
        }
        body.dark .estrela{
          color: #F6F5FF;
          background-image: none;
        }
        
        .sidebar .menu-bar {
          height: calc(100% - 55px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow-y: scroll;
        }
        
        .menu-bar::-webkit-scrollbar {
          display: none;
        }
        
        .sidebar .menu-bar .mode {
          border-radius: 6px;
          background-color: var(--primary-color-light);
          position: relative;
          transition: var(--tran-05);
        }
        
        .menu-bar .mode .sun-moon {
          height: 50px;
          width: 60px;
        }
        
        
        .mode .sun-moon i {
          position: absolute;
        }
        
        .mode .sun-moon i.sun {
          opacity: 0;
        }
        
        body.dark .mode .sun-moon i.sun {
          opacity: 1;
        }
        
        body.dark .mode .sun-moon i.moon {
          opacity: 0;
        }
        
        .menu-bar .bottom-content .menu-bar .bottom-content .toggle-switch {
          position: absolute;
          right: 0;
          height: 100%;
          min-width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          cursor: alias;
        }
        
        .toggle-switch .switch {
          position: relative;
          height: 22px;
          width: 40px;
          background-color: #070706;
          border-radius: 25px;
          background-color: var(--toggle-color);
          transition: var(--tran-05);
        }
        
        .switch::before {
          content: '';
          position: absolute;
          height: 15px;
          width: 15px;
          border: #070706;
          border-radius: 50%;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          background-color: var(--sidebar-color);
          transition: var(--tran-04);
        }
        
        body.dark .switch::before {
          left: 20px;
        }


        #popup {
          width: 650px;
          padding: 50px 40px;
          background-color: #ffffff;
          position: fixed;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
          transition: all 0.4s;
          visibility: hidden;
          opacity: 0;
}

#popup.active {
          top: 50%;
          visibility: visible;
          opacity: 1;
}

#popup .content {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
}

#popup .content img {
          max-width: 150px;
}

#popup .content h2 {
          margin: 30px 0 10px;
          color: #11263c;
          font-size: 24px;
          font-weight: 700;
}

#popup .content form {
          width: 100%;
}

.input-field {
          position: relative;
          width: 100%;
          margin-top: 20px;
}

.input-field input {
          width: 100%;
          margin-bottom: 20px;
          padding: 15px;
          color: #6d7c9b;
          background-color: #ffffff;
          border: 1px solid #e7ecf7;
          font-size: 15px;
          font-weight: 600;
          outline: none;
}

.input-field input::placeholder {
          color: #6d7c9b;
}

.input-field .submit-btn {
          width: 100%;
          padding: 15px 20px;
          color: #ffffff;
          background-color: #0fc9a4;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          border-radius: 4px;
          border: none;
          outline: none;
          transition: all 0.3s;
          cursor: pointer;
}

.input-field .submit-btn:hover {
          background-color: #0b9c7f;
}

#popup .close {
          position: absolute;
          top: 25px;
          right: 25px;
}


.menudois {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 400px;

          height: 400px;
          margin-bottom: 100px;
}

.menudois li {
          position: absolute;
          left: auto;
          list-style: none;
          /* half the width of the menu */
          transform-origin: 200px;
          margin-right: 320px;
}

.menudois li a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #aed485;
          cursor: pointer;
          font-size: 2em;
          box-shadow: 0 0 4px rgba(0, 0, 0, .12);
          color: #111;
          transition: .5s
}

.menudois li a:hover {
          color: rgb(115, 205, 243);

}

.toggledois {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #c8f0f2;
          cursor: pointer;
          font-size: 3em;
          z-index: 10;
          box-shadow: 0 0 4px rgba(0, 0, 0, .12);
}

/* EFFECTS 
        ------------------------------------- */
.toggledois {
          transition: 1.25s;
}

.menudois.active .toggledois {
          transform: rotate(315deg);
}

.menudois li {
          transition: 0.5s;
          /* --i var of 'style' */
          transition-delay: calc(0.1s * var(--i));
          /* 150 is half the width of the menu - half the width of the 'a' */
          transform: rotate(0deg) translateX(165px);
}

.menudois.active li {
          /* 8 is the number of items on the menu */
          transform: rotate(calc(360deg / 8 * var(--i)));
}

.menudois li a {
          transform: rotate(calc(360deg / -8 * var(--i)));
}

.titulo {
          font-family: 'Rampart One', cursive;
          margin-bottom: 100px;
          font-size: 300%;
          text-align: center;
}

@media (max-width: 520px) {
          .menudois.active li {
                    transform-origin: 100px;
                    margin-left: 500px;

          }

          .menudois li {
                    margin-left: 320px;
                    margin-right: 800px;
          }

          .toggledois {

                    height: 70px;
                    width: 70px;
                    margin-right: 150px;


          }

          .menudois li a {

                    width: 50px;
                    height: 50px;




          }

          .menudois {
                    height: 200px;
                    width: 200px;
                    margin-left: 90px;
          }

}
