/* Google Fontes import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}

:root {

  --body-color: #a8d0f6;
  --sidebar-color: #dfe9f3;
  --primary-color: #aed485;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #070706;
  --blue-color: #1;


  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.highlight{
  font-family: 'Rampart One', cursive;
  margin-top: 20px;
  font-size: 300%;
text-align: center;
}
body.dark .aventura{
  color: #fff;
}
body.dark .col-4 h4{
  color: #fff;
}
body.dark .page-btn span{
  color: #fff;
}
.col-4:hover,
h4{
  color: #0fc9a4;
}
.welcome{
  text-align: center;
  
  font-family: 'Rampart One', cursive;
  font-size: 300%;
}

.aventura{
    font-family: 'Rampart One', cursive;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 300%;
text-align: center;
    
}
.estrela{


margin-left: 100px;



}

body {
  min-height: 100%;
  background-color: var(--body-color);
  transition: var(--tran-05);
  overflow: scroll;
  justify-content: center;
  align-items: center
}

.home {

min-height: auto;
max-height: auto  ;

}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.muda {
  --color-hover: #589fe0;
}

.sidebar.close {
  width: 88px;
}


.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.name {
  color: var(--blue-color);
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
  width: max-content;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 25px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}


.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.linha {
  border-radius: 10px;
  border-width: 3px;
}

.sideimg {
  margin-left: 60px;
  margin-top: 50px;
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--color-hover);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--color-hover);
}

body.dark .footer-bottom{
 background-color: #1c1558;
 background-image: url(../_img/stars.png);
}
body.dark .estrela{
  color: #F6F5FF;
  background-image: none;
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}


.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: alias;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  background-color: #070706;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border: #070706;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

  
#popup {
    width: 650px;
    padding: 50px 40px;
    background-color: #ffffff;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
  }
  
  #popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
  }
  
  #popup .content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #popup .content img {
    max-width: 150px;
  }
  
  #popup .content h2 {
    margin: 30px 0 10px;
    color: #11263c;
    font-size: 24px;
    font-weight: 700;
  }
  
  #popup .content form {
    width: 100%;
  }
  
  .input-field {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  
  .input-field input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    color: #6d7c9b;
    background-color: #ffffff;
    border: 1px solid #e7ecf7;
    font-size: 15px;
    font-weight: 600;
    outline: none;
  }
  
  .input-field input::placeholder {
    color: #6d7c9b;
  }
  
  .input-field .submit-btn {
    width: 100%;
    padding: 15px 20px;
    color: #ffffff;
    background-color: #0fc9a4;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .input-field .submit-btn:hover {
    background-color: #0b9c7f;
  }
  
  #popup .close {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  
  
  .menudois {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    
    height: 400px;
    margin-bottom: 100px;
  }
  .menudois li {
    position: absolute;
  left: auto;
    list-style: none;  
    /* half the width of the menu */
    transform-origin: 200px; 
    margin-right: 320px;
  }
  .menudois li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #aed485;
    cursor: pointer;
    font-size: 2em;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12);
    color: #111;
    transition: .5s
  }
  .menudois li a:hover {
    color: rgb(115, 205, 243);
    
  }
  .toggledois {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #c8f0f2;
    cursor: pointer;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12);
  }
  
  /* EFFECTS 
  ------------------------------------- */
  .toggledois {
    transition: 1.25s;
  }
  .menudois.active .toggledois{
    transform: rotate(315deg);
  }
  
  .menudois li {
    transition: 0.5s;
    /* --i var of 'style' */
    transition-delay: calc(0.1s * var(--i));
    /* 150 is half the width of the menu - half the width of the 'a' */
    transform: rotate(0deg) translateX(165px); 
  }
  .menudois.active li {
    /* 8 is the number of items on the menu */
    transform: rotate(calc(360deg / 8 * var(--i))); 
  }
  .menudois li a {
    transform: rotate(calc(360deg / -8 * var(--i))); 
  }
  
  .titulo{
    font-family: 'Rampart One', cursive;
    margin-bottom: 100px;
    font-size: 300%;
  text-align: center;
  }
  
  @media (max-width: 520px){
   .menudois.active li {
    transform-origin:100px; 
    margin-left: 500px;
  
   }
   .menudois li{
    margin-left: 320px;
    margin-right: 800px;
   }
   .toggledois{
      
  height: 70px;
  width: 70px;
  margin-right: 150px;
  
  
    }
   
  .menudois li  a{
    
    width: 50px;
    height: 50px;
   
   
    
   
  }
  .menudois{
  height: 200px;
  width: 200px;
  margin-left: 90px;
  }
  
  }
  
 
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  
  .btn {
    display: inline-block;
    background: #a8f1a6;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:      0.5s;
  }
  
  .btn:hover {
    background: #563434;
  }
  
  .header {
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .header .row {
    margin-top: 70px;
  }
  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }
  .col-4 h4{
    font-family: 'Special Elite', cursive;  
      color: #070706;
    font-size: 18px; 
    font-weight: bold;
  }
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4:hover{
    cursor: pointer;
  }
  
  .col-4 img {
    width: 100%;
  }
  
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  .title::after {
    content: "";
    background: #a8f1b4;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  
  h4 {
    color: #555;
    font-weight: normal;
    text-align: center;
  }
  
  .col-4 p {
    font-size: 14px;
  }
  
  .rating .fas {
    color: #fbff00;

    
  }
  .rating{
    margin-left: 60px;
    margin-top: 7px;
  }
  .rating .far {
    color: #fbff00;
    
  }
  
  .col-4:hover {
    transform: translateY(-5px);
  }
  
  /* Offer */
  
  .offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  
  .col-2 .offer-img {
    padding: 50px;
  }
  
  small {
    color: #555;
    
  }
  
  /* testimonial */
  
  .testimonial {
    padding-top: 100px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  .fa-quote-left {
    font-size: 34px;
    color: #89f0ab;
  }
  
  .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .brands {
    margin: 100px auto;
  }
  
  .col-5 {
    width: 160px;
  }
  
  .col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }
  
  .col-5 img:hover {
    width: 100%;
    cursor: pointer;
    filter: grayscale(0);
  }
  
  /* footer */
  
  footer {
    left: 0;
    right: 0;
    background: #589FE0;
    height: auto;
    width: 100vw;
  z-index: 90;
    position: absolute;
    bottom: 0;
    color: #fff;
    top: 230%;
    
  
  }
  
  
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 40px;
  }
  
  .footer-bottom h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    margin-left: 50px;
    color: #aed485;
    font-family: 'Rampart One', cursive;
    
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
  
    border-radius: 50%;
  
  }
  
  .socials a i {
    font-size: 1.1rem;
    width: 20px;
  
  
    transition: color .4s ease;
  
  }
  
  .socials a:hover i {
    color: #aed485;
  }
  
  .footer-bottom {
    background: #2583db;
    width: 100vw;
  
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  
  .footer-menu {
    margin-left: 85px;
  
  }
  
  .footer-menu ul {
    display:flex;
  
  }
  
   .pages{
  margin-left: 630px;
  }
  
  .footer-menu  ul li {
    padding-right: 5px;
    display: block;
    
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
    margin-left: 5px;
    
  }
  
  .footer-menu ul li a:hover {
    color: #aed485;
  }
  
  
  @media (max-width:500px) {
    .footer-menu ul {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
      
    }
   
  }
  
  
  @media screen and (max-width: 768px) {
    .slide-content {
      margin: 0 10px;
    }
  
    .swiper-navBtn {
      display: none;
    }
  }
  
  @media (max-width: 800px){
  .footer-bottom{
    position: fixed;
    bottom: 0;
  
     
    
    }
    .home{
      margin-bottom: 150px;
    }
   
    
  }
  
  
  @media (max-width:450px){
    .socials li{
      margin: 0 5px;
    }
  }
  
  
  /* media query for menu */
  
  @media only screen and (max-width: 800px) {
   
  }
  
  /* all products page */
  
  .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
  }
  
  select {
    border: 1px solid #ff523b;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
  
  .page-btn {
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid #1e63fa;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .page-btn span:hover {
    background: #b8f3aa;
    color: #ffffff;
  }
  
  /* single product details */
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
  }
  
  input:focus {
    outline: none;
  }
  
  .single-product .fas {
    color: #ff523b;
    margin-left: 10px;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  /* cart items */
  
  .cart-page {
    margin: 90px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background: #ff523b;
    font-weight: normal;
  }
  td {
    padding: 10px 5px;
  }
  
  td input {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td a {
    color: #ff523b;
    font-size: 12px;
  }
  
  td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  /* account page */
  .account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .form-container {
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  #LoginForm {
    left: -300px;
  }
  
  #RegForm {
    left: 0;
  }
  
  form a {
    font-size: 12px;
  }
  
  #Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  
  /* media query for less than 600 screen size */
  
  @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .single-product .row {
      text-align: left;
    }
  
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }
  }
  


  