﻿@page
@model Onbooks_3Ds.Views.Homepage.DeliveryModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS-->
    <link rel="stylesheet" href="~/css/delivery.css" />
    <title>Login ADM</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form">

                    <div class="img"><img src="~/img/canvaqr.png" alt="" height="1100px"></div>



                </form>
            </div>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">

                <h1 class="delivery">DELIVERY</h1>
                <p class="qr">Para acessar nosso aplicativo, escaneie o QRCode:</p>
            </div>
            <img src="~/img/Take Away-pana.svg" class="image" />
        </div>

    </div>
    </div>


</body>
<script src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"></script>
</html>