﻿@model Onbooks_3Ds.Models.Cadastrar_Usuarios

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS-->
    <link rel="stylesheet" href="~/css/login.css" />
    <title>Login e Cadastro</title>
</head>
<body>

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form asp-action="Logar" method="post" class="sign-in-form">
                    <div class="img"><img src="~/img/yett.png" alt="" height="90px"></div>
                    <h2 class="title">Entrarar</h2>
                    <hr class="LINHA" />
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                    <p class="social-text">Ou entre com a sua conta Google</p>
                    <div class="social-media">

                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>

                    </div>
                </form>
                <form asp></form>

                <form asp-action="Login_Cadastro" method="post" class="sign-up-form">
                    <div class="img"><img src="~/img/yett.png" height="90px"></div>
                    <h2 class="title">Cadastrar</h2>

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input asp-for="Nome_usuario" type="text" placeholder="Username" />
                    </div>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input asp-for="Email" type="email" placeholder="Email" />
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Senha" type="password" placeholder="Password" />
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Telefone" type="text" placeholder="telefone" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Cpf" type="number" placeholder="CPF" />
                    </div>
                    <input type="submit" class="btn" value="Sign up" />
                    <p class="social-text">Ou cadastre sua conta Google</p>
                    <div class="social-media">

                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>

                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Venha ser um OnBooker!</h3>
                    <p>
                        Nós da Onbooks garatimos tota apoio e qualidade para você!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Cadastrar
                    </button>
                </div>
                <img src="~/img/Bibliophile-bro.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Já tem um cadastro aqui?</h3>
                    <br>
                    <button class="btn transparent" id="sign-in-btn">

                        Entrar
                    </button>
                </div>
                <img src="~/img/Learning-bro.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <script src="~/js/login.js"></script>
</body>
</html>


