﻿@page
@model Onbooks_3Ds.Views.Adm.SignModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS-->
    <link rel="stylesheet" href="~/css/login.css" />
    <title>Login ADM</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form">
                    <div class="img"><img src="~/img/yett.png" alt="" height="90px"></div>
                    <h2 class="title">Entrar como Administrador</h2>
                    <HR class="LINHA"></HR>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" placeholder="Gmail" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" />



                </form>
            </div>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">


            </div>
            <img src="~/img/Work time-amico.svg" class="image" />
        </div>

    </div>
    </div>

    <script src="~/js/login.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
</body>
</html>